<footer>
  <div class="container-xl">
    <div class="footer-inner">
      <div class="row d-flex align-items-center gy-4">
        <!-- copyright text -->
        <div class="col-md-4">
          <span class="copyright">Mình không phải là một lập trình viên giỏi. Mình chỉ là một lập trình viên giỏi với những thói quen tốt.</span>
        </div>
        <!-- social icons -->
        <div class="col-md-4 text-center">
          <ul class="social-icons list-unstyled list-inline mb-0">
            <partial name="_SocialIcons"/>
          </ul>
        </div>
        <!-- go to top button -->
        <div class="col-md-4">
          <a href="#" id="return-to-top" class="float-md-end">
            <i class="icon-arrow-up"></i>Quay về đầu trang</a>
        </div>
      </div>
    </div>
  </div>
</footer>