@model AboutViewModel

@{
    Layout = "_SubLayout";
    ViewData["Title"] = "Thông tin về mình · Code Sharing";
    ViewData["Description"] = "Thông tin về mình · Code Sharing";
}

<div class="row gy-4">
    <div class="col-lg-8">
        <div class="page-content bordered rounded padding-30">
            <img src="@Model.About.Image" alt="Duy Nguyễn" class="rounded mb-4"/>
            @Html.Raw(Model.About.Description)
            <hr class="my-4"/>
            <ul class="social-icons list-unstyled list-inline mb-0">
                <partial name="_SocialIcons"/>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- sidebar -->
        @await Component.InvokeAsync("SideBar", "Default")
    </div>
</div>