@model UserViewModel

@{
    Layout = "_SubLayout";
    ViewData["Title"] = "Quản lý người dùng · Code Sharing";
}

<div class="m-4">
    <h3 class="text-center">Quản Lý Người Dùng</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width:40%">Tên tài khoản</th>
                <th>Tên người dùng</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Users.Items)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>