<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Category</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" class="row g-2">
        <div class="col-md-12">
          <label for="lblTitle" class="form-label">Title</label>
          <div class="input-group">
            <span class="input-group-text bg-transparent">
              <i class='bx bxs-message-square-edit'></i>
            </span>
            <input type="text" class="form-control border-start-0" id="txtTitle" placeholder="Tiêu đề danh mục" name="title" (keyup)="generateSeoAlias()" formControlName="title" />
          </div>
          <span class="errorMessage" *ngIf="title && title.invalid">Please enter title</span>
        </div>
        <div class="col-md-12">
          <label for="lblSlug" class="form-label">Slug</label>
          <div class="input-group">
            <span class="input-group-text bg-transparent">
              <i class='bx bxs-chevron-right'></i>
            </span>
            <input type="text" class="form-control border-start-0" id="txtSlug" placeholder="Đường dẫn SEO" name="slug" formControlName="slug" />
          </div>
          <span class="errorMessage" *ngIf="slug && slug.invalid">Please enter slug</span>
        </div>
        <div class="col-md-12">
          <label for="lblSortOrder" class="form-label">Sort Order</label>
          <div class="input-group">
            <span class="input-group-text bg-transparent">
              <i class='bx bxs-collection'></i>
            </span>
            <input type="text" class="form-control border-start-0" id="txtSortOrder" placeholder="Thứ tự hiển thị" name="sortOrder" formControlName="sortOrder" />
          </div>
          <span class="errorMessage" *ngIf="sortOrder && sortOrder.invalid">Please enter sort order</span>
        </div>
        <div class="col-md-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cboIsParent" formControlName="isParent" (click)="checkParent()">
            <label class="form-check-label" for="cboIsParent">Have parent?</label>
          </div>
        </div>
        <div class="col-md-12" *ngIf="isParentChecked">
          <label class="form-label">Parent Category</label>
          <div class="input-group">
            <select class="form-select single-select" id="dropDownParentCategory" formControlName="parentCategoryId">
              <option *ngFor="let item of categories$" [selected]="selected" [value]="item.id">{{item.title}}</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 15px">
          <button type="submit" class="btn btn-primary px-5" (click)="modal.dismiss('Cross click')" [disabled]="categoryForm.invalid">Save</button>
        </div>
        <span style="text-align: center;" [ngClass]="errorClass">{{errorMessage}}</span>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
  </ng-template>
  <a (click)="open()" class="btn btn-primary radius-30 mt-2 mt-lg-0">
    <i class="bx bxs-plus-square"></i> Add New Category </a>