<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="cancel()">
    <ng-template #modalTitle>Quản lý danh mục</ng-template>

    <ng-template #modalContent>
        <form [formGroup]="categoryForm" (ngSubmit)="save()">
            <div class="row">
                <!--Title-->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label>Tên danh mục</nz-form-label>
                        <nz-form-control nzErrorTip="Bạn chưa nhập tên danh mục!">
                            <input nz-input placeholder="Tên danh mục" (keyup)="generateSlug()" name="title" formControlName="title">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!--Slug-->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label>Đường dẫn SEO</nz-form-label>
                        <nz-form-control nzErrorTip="Bạn chưa nhập đường dẫn SEO!">
                            <input nz-input placeholder="Đường dẫn SEO" name="slug" formControlName="slug">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!--Sort-->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label>Thứ tự sắp xếp</nz-form-label>
                        <nz-form-control nzErrorTip="Bạn chưa nhập thứ tự hiển thị!">
                            <input nz-input placeholder="Thứ tự hiển thị" name="sortOrder" formControlName="sortOrder">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!--Is Parent-->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-control>
                            <label nz-checkbox (click)="checkParent()" formControlName="isParent" >Chọn danh mục cha</label>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!--Parent Category-->
                <div class="col-md-12" *ngIf="isParentChecked">
                    <nz-form-item>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Choose a parent category" formControlName="parentCategoryId">
                            <nz-option *ngFor="let item of categories$" nzLabel="{{item.title}}" nzValue="{{item.id}}"></nz-option>
                        </nz-select>
                    </nz-form-item>
                </div>

                <div class="col-md-12 text-center">
                    <button nz-button nzType="primary" [nzLoading]="isConfirmLoading">Lưu lại</button>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button (click)="cancel()" nz-button nzType="primary">Đóng</button>
    </ng-template>
</nz-modal>

<button (click)="open()" nz-button nzType="primary">
    <i nz-icon nzType="plus-circle" theme="outline"></i>
    <span>Thêm mới</span>
</button>