<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Search Project" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status">
                        <nz-option nzLabel="All" nzValue="all"></nz-option>
                        <nz-option nzLabel="Approved" nzValue="approved"></nz-option>
                        <nz-option nzLabel="Pending" nzValue="pending"></nz-option>
                        <nz-option nzLabel="Rejected" nzValue="rejected"></nz-option>
                    </nz-select>
                </div>
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <app-categories-detail></app-categories-detail>
        </div>
    </div>
    <nz-table #categoriesListTable [nzData]="displayData" >
        <thead>
            <tr>
                <th *ngFor="let column of categoryColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of categoriesListTable.data;  let i=index">
                <!--ID-->
                <td>#{{item.id}}</td>

                <!--Title-->
                <td>
                    <div class="d-flex align-items-center">
                        <h6 class="m-l-10 m-b-0">{{item.title}}</h6>
                    </div>
                </td>

                <!--Slug-->
                <td>{{item.slug}}</td>

                <!--Sort Order-->
                <td>{{item.sortOrder}}</td>

                <!--Parent Category-->
                <td>{{item.parentCategoryId}}</td>

                <!--Have Parent-->
                <td>{{item.isParent}}</td>

                <!--Action-->
                <td class="text-md-right">
                    <a class="m-r-5" nz-button (click)="update(item.id)" nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Edit">
                        <i nz-icon nzType="edit" theme="outline"></i>
                    </a>
                    <button (click)="delete(item.id)" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete">
                        <i nz-icon nzType="delete" theme="outline"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
