@model CanvasMenuViewModel

@if (User.Identity!.IsAuthenticated)
{
    var fullName = Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
    <div class="canvas-menu d-flex align-items-end flex-column">
        <!-- close button -->
        <button type="button" class="btn-close" aria-label="Close"></button>
        <!-- logo -->
        <div class="logo" style="margin-bottom: 20px !important;">
            <a href="/" class="d-block text-logo">CodeSharing<span class="dot">.</span></a>
            <div class="title text-center">
                <p>Xin chào, 
                    <span style="font-weight: bold;">@fullName</span></p>
            </div>
        </div>
        <!-- menu -->
    
        <nav>
            <ul class="vertical-menu" style="padding: 5px;">
                <li>
                    <i class="icon-user"></i>
                    <a asp-action="MyProfile" asp-controller="Account">Thông tin cá nhân</a>
                </li>
                <li>
                    <i class="icon-notebook"></i>
                    <a href="/">Quản lý bài viết</a>
                </li>
                <li>
                    <i class="icon-logout"></i>
                    <a asp-action="SignOut" asp-controller="Account">Đăng xuất</a>
                </li>
            </ul>
        </nav>
        <!-- social icons -->
        <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
            <partial name="_SocialIcons"/>
        </ul>
    </div>
}

