@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu · Code Sharing";
    ViewData["Header"] = "Lấy lại mật khẩu";
    Layout = "_Layout";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="w-100 btn btn-lg btn-primary">Gửi</button>
    </div>
</form>