<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="cancel()">
    <ng-template #modalTitle>Contact</ng-template>

    <ng-template #modalContent>
        <form [formGroup]="contactForm" (ngSubmit)="save()">
            <div class="row">
                <!--Phone-->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label>Phone</nz-form-label>
                        <nz-form-control nzErrorTip="Please input your phone!">
                            <input nz-input placeholder="Số điện thoại" name="phone" formControlName="phone">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!--Email-->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label>Email</nz-form-label>
                        <nz-form-control nzErrorTip="Please input your email!">
                            <input nz-input placeholder="Email" name="email" formControlName="email">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!--Location-->
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-label>Location</nz-form-label>
                        <nz-form-control nzErrorTip="Please input your location!">
                            <input nz-input placeholder="Nơi sống" name="location" formControlName="location">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-12">
                    <button nz-button nzType="primary" [nzLoading]="isConfirmLoading">Save</button>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button (click)="cancel()" nz-button nzType="primary">Close</button>
    </ng-template>
</nz-modal>