@{
    Layout = "_SubLayout";
}

<div class="row gy-4">
    <div class="col-lg-8">
        <div class="page-content bordered rounded padding-30">
            <img src="~/images/about/background-about.jpg" alt="Duy Nguyễn" class="rounded mb-4"/>
            <p>Xin chào mọi người, mình là Nguyễn Minh Duy.</p>
            <p>Giới thiệu sơ qua về mình, mình năm nay 25 tuổi, tốt nghiệp trường đại học Khoa Học Tự Nhiên Thành phố Hồ Chí Minh. Mình đã có 3 năm kinh nghiệm trong lập trình.</p>
            <p>Nói sơ về sở thích, ngoài những giờ làm việc, mình rất thích đọc sách, một cuốn sách hay sẽ mang đến rất nhiều điều thú vị, hoặc có thể một buổi tối vui vẻ với bạn bè và người thân. :))</p>
            <p>Về mục đích trang blog này, đúng như tên trang web, mình mong muốn có thể được chia sẻ, giải đáp những thắc mắc, những khó khăn trong quá trình học lập trình cũng như đi làm cho những bạn mới bước chân vào lập trình.</p>
            <p>Mình rất vui nếu mọi người tìm được những kiến thức tại đây.</p>
            <p>Cảm ơn bạn rất nhiều khi đọc đến dòng này.</p>
            <hr class="my-4"/>
            <ul class="social-icons list-unstyled list-inline mb-0">
                <partial name="_SocialIcons"/>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- sidebar -->
        @await Component.InvokeAsync("SideBar", "Default")
    </div>
</div>