<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/other/logo.png">
    <!-- STYLES -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/all.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/simple-line-icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/prism.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" type="text/css" media="all">
</head>
<body>
<!-- preloader -->
<div id="preloader">
    <div class="book">
        <div class="inner">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!-- site wrapper -->
<div class="site-wrapper">
    <div class="main-overlay"></div>
    <!-- header -->
    @if (IsSectionDefined("customHeader"))
    {
        @await RenderSectionAsync("customHeader")
    }
    else
    {
        @await Component.InvokeAsync("Header", "Default")
    }
    <!-- section main content -->
    <section class="main-content mt-3">
        @RenderBody()
    </section>

    <!-- footer -->
    @await Component.InvokeAsync("Footer", "Default")
</div>
<!-- end site wrapper -->
<!-- search popup area -->
<partial name="_SearchPopup"/>
<!-- canvas menu -->
@await Component.InvokeAsync("CanvasMenu", "Default")
<!-- JAVA SCRIPTS -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/jquery.sticky-sidebar.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/prism.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
@await RenderSectionAsync("scripts", false)
</body>
</html>