@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu · Code Sharing";
    ViewData["Header"] = "Xác nhận quên mật khẩu";
    Layout = "_Layout";
}

<p class="text-danger text-center">Hãy kiểm tra email của bạn để thực hiện đặt lại mật khẩu mới<br/>Xin cám ơn!</p>