@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận thay đổi mật khẩu · Code Sharing";
    ViewData["Header"] = "Xác nhận thay đổi mật khẩu";
    Layout = "_Layout";
}

<p style="text-align: center;">Mật khẩu của bạn đã được thay đổi thành công<br/><a asp-page="./Login">Đăng nhập tại đây</a></p>
