<div class="row">
    <div class="col-lg-12">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5>Bài viết mới nhất</h5>
                <div>
                    <a nz-button nzType="default" nzSize="small">Xem tất cả</a>
                </div>
            </div>
            <div class="m-t-30">
                <nz-list [nzDataSource]="postData" [nzRenderItem]="posts" [nzItemLayout]="'horizontal'">
                    <ng-template #posts let-item>
                        <nz-list-item [nzContent]="productGrowth">
                            <nz-list-item-meta [nzTitle]="productName" [nzDescription]="productCategory">

                                <ng-template #productName>
                                    <a class="font-size-15">{{item.categoryTitle}} |
                                        {{item.createDate | date: 'dd-MM-yyyy'}}</a>
                                </ng-template>

                                <ng-template #productCategory>
                                    <span class="m-b-0 text-muted">{{item.title}}</span>
                                </ng-template>

                                <ng-template #productGrowth>
                                    <nz-tag class="m-r-0 m-b-0" [nzColor]="'cyan'">
                                        +{{item.numberOfVotes}} <i nz-icon nzType="like" nzTheme="outline"></i>
                                    </nz-tag>
                                </ng-template>

                            </nz-list-item-meta>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
            </div>
        </nz-card>
    </div>
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-lg-12">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5>Thành viên mới</h5>
                <div>
                    <a nz-button nzType="default" nzSize="small" routerLink="/systems/users">Xem tất cả</a>
                </div>
            </div>
            <div class="m-t-30">
                <nz-table #rowSelectionTable [nzData]="listOfData">
                    <thead>
                        <tr>
                            <th *ngFor="let column of userColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of rowSelectionTable.data">
                            <td>{{data.userName}}</td>
                            <td>{{data.firstName}} {{data.lastName}}</td>
                            <td>{{data.email }}</td>
                            <td>{{data.createDate | date: 'dd-MM-yyyy'}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</div>